@import "~normalize.css/normalize.css";

body{
    background: #000;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: #dddddd;
    font-size: 15px;
}

header{
    display: block;
    position: relative;
    padding: 0 45px;
    border-bottom: 2px solid #1a1a1a;
    padding: 15px 0 0;
    background: #b10000;

    .logo{
        max-width: 100%;
    }
}

.body-content{
    background: #000;
    color: #fff;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 750px;

}

h1 {
    color: #de3838;
    font-size: 36px;
}
.body-content{
    display: flex;
}

.left-side{
    width: 75%;
}

.right-side{
    max-width: 25%;
    padding: 40px;
    img{
        width: 100%
    }
}

a, a:hover, a:visited{
    color: #de3838;
    text-decoration: none;
}
.biljettinfo{
    display: none;
    &.open{
        display: block;
    }
}

footer{
    width: 100%;
}
@media (max-width: 768px){
    .right-side{
        display: none;
    }
    .left-side{
        width: 100%;
    }
}